@font-face {
  font-family: "Golos Text";
  src: url("assets/fonts/golos-text_regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Golos Text";
  src: url("assets/fonts/golos-text_medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Golos Text";
  src: url("assets/fonts/golos-text_demibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Golos Text";
  src: url("assets/fonts/golos-text_bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Golos Text";
  src: url("assets/fonts/golos-text_black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Tektur";
  src: url("assets/fonts/Tektur-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Tektur";
  src: url("assets/fonts/Tektur-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Tektur";
  src: url("assets/fonts/Tektur-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Tektur";
  src: url("assets/fonts/Tektur-ExtraBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Tektur";
  src: url("assets/fonts/Tektur-SemiBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Tektur";
  src: url("assets/fonts/Tektur-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Tektur Condensed";
  src: url("assets/fonts/Tektur_Condensed-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Tektur Condensed";
  src: url("assets/fonts/Tektur_Condensed-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Tektur Condensed";
  src: url("assets/fonts/Tektur_Condensed-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Tektur SemiCondensed";
  src: url("assets/fonts/Tektur_SemiCondensed-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Tektur SemiCondensed";
  src: url("assets/fonts/Tektur_SemiCondensed-SemiBold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Tektur SemiCondensed";
  src: url("assets/fonts/Tektur_SemiCondensed-ExtraBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Tektur SemiCondensed";
  src: url("assets/fonts/Tektur_SemiCondensed-Black.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

:root {
  --text: #fff;
  --text-hover: #003735;
  --bg: #003735;
  --btn: #009e97;
  --btn-hover: #ffb96a;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  background-color: var(--bg);
  color: var(--text);
  font-family: "Tektur", sans-serif;
  font-weight: 400;
  font-size: 14px;

  line-height: 1.5;

  scrollbar-width: thin;
  scrollbar-color: var(--btn) var(--bg);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
